<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VideoClient.VidyoConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <!--基本信息-->
        <add key="app_name" value="远程会诊" />
        <add key="client_name" value="VideoClientWindows" />
        <add key="http_server_port" value="8888" />
        <add key="launch_parameters_cache" value="" />
        <!--常用启动参数-->
        <add key="UseDefaultLayout" value="false" />
        <add key="enableEndpointMode" value="false" />
        <add key="endpointModeWindowMode" value="normal" /><!--normal、fullscreen-->
        <add key="endpointModeWindowNumber" value="0" /><!--表示窗口总数，0表示匹配显示器数量、或指定>=2数量-->
        <add key="endpointModeCameraPin" value="false" /><!--固定主摄像头到指定屏幕，0表示关闭-->
        <add key="endpointModeCameraPinWindowIndex" value="0" /><!--固定主摄像头到指定屏幕，0表示第一个-->
        <add key="enableRecording" value="true" />
        <!--Guest模式 设置 enableGuestTangoMode = false时，表示使用 vidyo guest -->
        <add key="enableGuestMode" value="false" />
        <add key="enableGuestTangoMode" value="false" />
        <add key="guest_server_url" value="dev.lssvc.cn" />
        <add key="guest_room_key" value="" />
        <add key="guest_display_name" value="" />
        <add key="guest_subsystemTangoDrawUrl" value="https://draw.lssvc.cn" />
        <!--Video API (warning debug@VidyoClient all@LmiPortalSession all@LmiPortalMembership all@LmiResourceManagerUpdates info@LmiPace info@LmiIce all@LmiSignaling)-->
        <add key="enableVideoDebug" value="true" />
        <add key="LogFilter" value="warning debug@VidyoClient all@LmiResourceManagerUpdates all@LmiPortalSession all@LmiSignaling" />
        <add key="GatewayPrefixH323" value="81" />
        <add key="GatewayPrefixSIP" value="80" />
        <add key="SetMaxBitRate" value="100" />
        <add key="SetMaxSendBitRate" value="50" />
        <add key="SetMaxReceiveBitRate" value="50" />
        <add key="ProxyEnable" value="false" />
        <add key="ProxyHost" value="" />
        <add key="ProxyPort" value="" />
        <!--输入输出设备默认状态-->
        <add key="cameraPrivacyOnAppLaunch" value="false" />
        <add key="micPrivacyOnAppLaunch" value="false" />
        <add key="speakerPrivacyOnAppLaunch" value="false" />
        <!--显示逻辑配置-->
        <add key="displayGuestVideo" value="true" />
        <add key="displayGatewayVideo" value="true" />
        <add key="displaySelfViewPIP" value="false" />
        <add key="displaySelfViewInMeeting" value="false" />
        <add key="displayZoomBtnOnLocalRenderer" value="true" />
        <add key="displayZoomBtnOnRemoteRenderer" value="true" />
        <add key="displayZoomBtnOnLecturerRenderer" value="true" />
        <add key="displaySnapshotBtn" value="true" />
        <add key="allowCameraCopyRendering" value="false" />
        <add key="RemoteParticipants" value="30" />
        <!--自动/手动布局-->
        <add key="AutoAssignRenderer" value="true" />
        <!--0表示自动-->
        <add key="Screen1ForceLayoutNum" value="0" />
        <add key="Screen2ForceLayoutNum" value="9" />
        <add key="Screen3ForceLayoutNum" value="9" />
        <add key="Screen4ForceLayoutNum" value="9" />
        <add key="VoiceActivatedPositionOfScreens" value="0" />
        <!--填入null表示关闭语音激励-->
        <add key="VoiceActivatedPositionOfRenderers" value="0" />
        <!--LocalCamera API-->
        <add key="SetTargetBitRate_1" value="8388608" />
        <add key="SetTargetBitRate_2" value="8388608" />
        <add key="SetTargetBitRate_3" value="8388608" />
        <add key="SetTargetBitRate_4" value="4000000" />
        <add key="SetTargetBitRate_5" value="4000000" />
        
        <add key="camera_1_name" value="视频源1" />
        <add key="camera_1_name_use_display_name" value="true" />
        <add key="camera_1_enable" value="true" />
        <add key="camera_1_mirroring" value="true" />
        <add key="camera_1_position_of_screen" value="0" />
        <add key="camera_1_position_of_renderer" value="0" />
        <add key="camera_1_last_selected_device_name" value="auto" />
        <add key="camera_1_resolution" value="1080p" />
        <add key="camera_1_framerate" value="30" />

        <add key="camera_2_name" value="视频源2" />
        <add key="camera_2_enable" value="true" />
        <add key="camera_2_mirroring" value="false" />
        <add key="camera_2_position_of_screen" value="0" />
        <add key="camera_2_position_of_renderer" value="1" />
        <add key="camera_2_last_selected_device_name" value="关闭" />
        <add key="camera_2_resolution" value="1080p" />
        <add key="camera_2_framerate" value="60" />

        <add key="camera_3_name" value="视频源3" />
        <add key="camera_3_enable" value="true" />
        <add key="camera_3_position_of_screen" value="0" />
        <add key="camera_3_position_of_renderer" value="2" />
        <add key="camera_3_last_selected_device_name" value="关闭" />
        <add key="camera_3_resolution" value="1080p" />
        <add key="camera_3_framerate" value="30" />
        <add key="camera_3_flip" value="false" />

        <add key="camera_4_name" value="共享屏幕" />
        <add key="camera_4_enable" value="true" />
        <add key="camera_4_position_of_screen" value="0" />
        <add key="camera_4_position_of_renderer" value="3" />
        <add key="camera_4_last_selected_device_name" value="关闭" />
        <add key="camera_4_resolution" value="1080p" />
        <add key="camera_4_framerate" value="30" />

        <add key="camera_5_name" value="共享窗口" />
        <add key="camera_5_enable" value="true" />
        <add key="camera_5_position_of_screen" value="0" />
        <add key="camera_5_position_of_renderer" value="3" />
        <add key="camera_5_last_selected_device_name" value="关闭" />
        <add key="camera_5_resolution" value="1080p" />
        <add key="camera_5_framerate" value="30" />

        <!--mic speaker-->
        <add key="mic_last_selected_device_name" value="auto" />
        <add key="speaker_last_selected_device_name" value="auto" />
        <!--web ui-->
        <add key="web_ui_title" value="title_video_system" />
        <add key="web_ui_usage_mode_title_visible" value="true" />
        <add key="web_ui_logo" value="res/img/logo_lss.png" />
        <add key="web_ui_module_contacts_visible" value="true" />
        <add key="web_ui_module_rooms_visible" value="true" />
        <add key="web_ui_module_callsip323_visible" value="true" />
        <add key="web_ui_module_profile_visible" value="false" />
        <add key="web_ui_contact_detail_join_btn_visible" value="true" />
        <add key="web_ui_create_room_btn_visible" value="true" />
        <add key="web_ui_room_label_display_name" value="房间" />
        <add key="web_webrtc_site" value="https://webrtc.lssvc.cn" />
        <!--使用模式：XingMode VidyoMode TangoMode-->
        <!-- <add key="web_ui_usage_mode_default" value="TangoMode" /> -->
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <!--tango-->
        <add key="tango_use_https" value="false" />
        <add key="tango_auto_login" value="false" />
        <add key="tango_server_url" value="https://hrst.lssvc.cn" />
        <add key="tango_im_port" value="44321" />
        <add key="tango_username" value="" />
        <add key="tango_password" value="" />
        <add key="tango_auto_answer" value="false" />
        <add key="tango_lecture_mode_except" value="false" />
        <!--true则不受房间模式控制-->
    </appSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <userSettings>
        <VideoClient.VidyoConnector.Properties.Settings>
            <setting name="TangoPassword" serializeAs="String">
                <value />
            </setting>
        </VideoClient.VidyoConnector.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.1.12217" newVersion="2.6.1.12217" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>
