<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net471" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net471" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net471" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net471" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net471" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net471" />
  <package id="AForge.Video.FFMPEG" version="2.2.5.1-rc" targetFramework="net471" />
  <package id="CefSharp.Common" version="113.3.50" targetFramework="net471" />
  <package id="CefSharp.WinForms" version="113.3.50" targetFramework="net471" />
  <package id="CrashReporter.NET.Official" version="1.6.0" targetFramework="net471" />
  <package id="EmitterSharp" version="1.1.1.1" targetFramework="net471" />
  <package id="EngineIOSharp" version="1.0.5" targetFramework="net471" />
  <package id="EventBus" version="1.1.2" targetFramework="net471" />
  <package id="NUnit" version="2.6.1" targetFramework="net471" />
  <package id="Nunit.Framework.TestCaseStorage" version="1.0.1" targetFramework="net471" />
  <package id="RestSharp" version="110.2.1-alpha.0.3" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net471" />
  <package id="NLog" version="4.7.1" targetFramework="net471" />
  <package id="NLog.Config" version="4.7.1" targetFramework="net471" />
  <package id="NLog.Schema" version="4.7.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net471" />
  <package id="SimpleThreadMonitor" version="1.0.2.1" targetFramework="net471" />
  <package id="SocketIOSharp" version="2.0.3" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net471" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="WebSocketSharp.CustomHeaders.CustomHttpServer" version="1.0.2.3" targetFramework="net471" />
  <package id="cef.redist.x64" version="113.3.5" targetFramework="net471" />
  <package id="cef.redist.x86" version="113.3.5" targetFramework="net471" />
</packages>